
img {
	border: 0;
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%;
}

img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto;
}

img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
	max-width: 100%;
	height: auto;
}

img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}